# Configurazione Database PostgreSQL
DB_USERNAME=postgres
DB_PASSWORD=VirtualSEC92

# Chiave API Google Gemini (https://aistudio.google.com/apikey)
GEMINI_API_KEY=AIzaSyDedsgJIXQdo5Qwab8xtScSKXfVt4cyLyU

# Credenziali Admin (opzionale, ha valori di default)
ADMIN_USERNAME=soc_admin
ADMIN_PASSWORD=!c2Q9^bORswJi8E$06r4